---
layout: page
---
<hr>

{% for project in site.data.projects %} {% if project.visible == true %}

	<img src="{{ project.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ project.name }}</h1>
	
	{% if project.github %} 
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	
	</br>

	{% if project.intro %} 
	{{ project.intro }}
	{% endif %}
	
	<hr>

{% endif %}{% endfor %}

